c-brown = rgba(160, 137, 114, 1);
c-brown-transparent = rgba(160, 137, 114, 0.5);
c-brown-darken = darken(c-brown, 10%);
c-brown-lighten = lighten(c-brown, 5%);

c-green = rgba(48, 69, 74, 1);
c-green-darken = darken(c-green, 10%);
c-green-lighten = lighten(c-green, 10%);

c-red = rgba(176, 116, 104, 1);
c-red-darken = darken(c-red, 10%);
c-red-lighten = lighten(c-red, 10%);

c-biege = rgba(249, 238, 224, 1);
c-biege-transparent = rgba(249, 238, 224, 0.25);
c-biege-darken = darken(c-biege, 10%);
c-biege-lighten = lighten(c-biege, 10%);

c-blue = rgba(74, 128, 219, 1);
c-blue-darken = darken(c-blue, 10%);
c-blue-lighten = lighten(c-blue, 10%);

c-main-text = rgba(20, 20, 20, 1);